@import "../node_modules/bootstrap/scss/functions";

$enable-rounded: true;

$enable-grid-classes: true;


$nav-link-color: rgb(0,0,0);
$nav-link-hover-color: rgb(177, 156, 217);
$nav-tabs-link-hover-border-color: rgb(225, 213, 248);


@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/card";

// Card Editing
$card-cap-color: rgb(178, 178, 178); 

// Custom Colours
$custom-colors: (
    "main-btn": rgb(12,180,233),
    "link": rgb(0,9,235),
    "nav-colour": rgb(177,156,217),
    "op-dark": rgba(0, 0, 0, 0.073),
    "grey": rgb(110, 110, 110),
    "green": rgba(113, 233, 104, 0.582),
);

$theme-colors: map-merge($theme-colors , $custom-colors );

$bs-bg-opacity: 0.7;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

.popps{
    font-family: 'Poppins', sans-serif;
}

.h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 36px;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
}

p{
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
}


ul{
    list-style-type: none;
}

.bang{
    border-bottom: 0ch;
    margin-bottom: 0px;
}

.gradient-text{
    background-image: linear-gradient(90deg, rgb(177, 156, 217), black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.bordbot{
    border-bottom: 10px;
    color: gray;
}

.sizing{
    width: 90%;
    height: 600px;
}

.picheight{
    height: 600px;
}

.card img{
    width:100%;
}

.card p{
    color: rgb(149, 149, 149);
}

.card:hover {
    box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/* .dropdown:hover {
    box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
} */



.image:hover{
    box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.bigshadow{
    box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.bold{
    font-weight: 400;
}

.button{
    box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.button:hover{
    box-shadow: 0 0px 0px rgba(0,0,0,0.19), 0 0px 0px rgba(0,0,0,0.23);
}

.picel{
    width: 90%;
}

.check:hover{
    box-shadow: 0 3px 3px rgba(0,0,0,0.19), 0 4px 4px rgba(0,0,0,0.23);
}

.added{
    top:90px;
    z-index:1;
}

.hovtext:hover{
    color: white;
}